<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <style>
    body{
        background-color: black;
        color: white;
    }
    </style>
</head>
<body>
    <h1>Register</h1>
    <form action="/register" method="post">
    name:<input type="text" name="name" value="" placeholder="Enter your Name....">
    <br>
    <br>
    email:<input type="email" name="email" value="" placeholder="Enter your Email....">
    <br>
    <br>
    password:<input type="password" name="password" value="" placeholder="Enter your Password....">
    <br>
    <br>
    <input type="submit" value="register">
    <br><br>
</form>

    
</body>
</html>